* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Position relative (a donde debería estar) */

.caja1 {
    background-color: green;
    color: white;
    width: 300px;
    height: 200px;
    position: relative;
    top: 40px;
    left: 60px;
}

.caja2 {
    background-color: orange;
    color: white;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 40px;
    right: 20px;
}

/* Posicionamiento fixed (Fijo al dispositivo) */

.caja3 {
    background-color: tomato;
    height: 80px;
    width: 150px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

/* Posicionamiento absoluto (Fijo al elemento contenedor) */
/* Muy importante el contenedor debe tener la propiedad position */

.caja4 {
    width: 50%;
    height: 250px;
    background-color: rgb(194, 194, 194);
    position: relative;
    padding: 48px 24px;
}

.caja5 {
    width: 30px;
    height: 30px;
    background-color: lightseagreen;
    position: absolute;
    top: 8px;
    right: 8px;
}

.caja6 {
    width: 120px;
    height: 40px;
    background-color: tomato;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* Posicionamiento sticky (Mantiene su posición en el documento
hasta que llega a la posición definida) */

.sticky1 {
    background-color: limegreen;
    color: white;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    left: 0;
}

.sticky2 {
    background-color: violet;
    color: white;
    padding: 5px 10px;
    position: sticky;
    top: 47px;
    left: 0;
}

