* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Propiedades básicos del Modelo Flexbox en vertical */

.card {
    background-color: aliceblue;
    box-shadow: 2px 2px 4px grey;
    border-radius: 5px;
    width: 240px;
    height: 320px;
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* row por defecto, column cambia los ejes */
    justify-content: space-between;
    align-items: center;
}

.card ul {
    list-style-position: inside;
    font-size: 18px;
}

.card img {
    height: 140px;
    width: 140px;
    border-radius: 120px;
    border: 4px solid tomato;
} 

button {
    background-color: tomato;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 4px;
    width: 100%;
}